################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AZM.Identity.API/AZM.Abyan.Identity.API/appsettings.json
